# **Task on if condition**

1. Using following list of cities per country,
    ```
    india = ["mumbai", "banglore", "chennai", "delhi"]
    pakistan = ["lahore","karachi","islamabad"]
    bangladesh = ["dhaka", "khulna", "rangpur"]
    ```
    1. Write a program that asks user to enter a city name and it should tell which country the city belongs to
    2. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"
2. Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
    1. Ask user to enter his fasting sugar level
    2. If it is below 80 to 100 range then print that sugar is low
    3. If it is above 100 then print that it is high otherwise print that it is normal

In [ ]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

# 1.1. Country the city belongs to
city_name = input("Tell me a city name.")

if city in india:
  print(f"The city {city_name} exists in India.")
elif city in pakistan:
  print(f"The city {city_name} exists in Pakistan.")
elif city in bangladesh:
  print(f"The city {city_name} exists in Bangladesh.")
else:
    print(f"City {city_name} is out of India, Pakistan and Bangladesh!")


# 1.2. Two cities
city1 = input("Enter first city name: ").lower()
city2 = input("Enter second city name: ").lower()

if city1 in india and city2 in india:
    print("Both cities are in India.")
elif city1 in pakistan and city2 in pakistan:
    print("Both cities are in Pakistan.")
elif city1 in bangladesh and city2 in bangladesh:
    print("Both cities are in Bangladesh.")
else:
    print("They don't belong to the same country.")

# 2. If condition to check if your sugar is normal or not
sugar = int(input("Enter your fasting sugar level: "))

if sugar < 80:
    print("Your sugar level is low.")
elif sugar > 100:
    print("Your sugar level is high.")
else:
    print("Your sugar level is normal.")

Tell me a city name.islamabad
The city islamabad exists in Bangladesh.
Enter first city name: islamabad
Enter second city name: islamabad
Both cities are in Pakistan.
Enter your fasting sugar level: 85
Your sugar level is normal.

# **Task on for loops**

1. After flipping a coin 10 times you got this result,
```
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
```
Using for loop figure out how many times you got heads

2. Print square of all numbers between 1 to 10 except even numbers
3. Your monthly expense list (from Jan to May) looks like this,
```
expense_list = [2340, 2500, 2100, 3100, 2980]
```
Write a program that asks you to enter an expense amount and program
should tell you in which month that expense occurred. If expense is not
found then it should print that as well.

4. Lets say you are running a 5 km race. Write a program that,
   1. Upon completing each 1 km asks you "are you tired?"
   2. If you reply "yes" then it should break and print "you didn't finish the race"
   3. If you reply "no" then it should continue and ask "are you tired" on every km
   4. If you finish all 5 km then it should print congratulations message

In [ ]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

# 1. How many times you got head
count = 0
for flip in result:
    if flip == "heads":
        count += 1
print("Number of heads:", count)

Number of heads: 4

In [ ]:
# 2. square of all numbers between 1 to 10 except even numbers
for i in range(1, 11):
    if i % 2 != 0:
        print(f"Square of {i} is {i ** 2}")

Square of 1 is 1
Square of 3 is 9
Square of 5 is 25
Square of 7 is 49
Square of 9 is 81

In [ ]:
# 3. In which month your expense occurred

expense_list = [2340, 2500, 2100, 3100, 2980]
months = ["January", "February", "March", "April", "May"]

expense = int(input("Enter your expense amount: "))

for i in range(len(expense_list)):
    if expense_list[i] == expense:
        print(f"Expense occurred in {months[i]}")

if expense not in expense_list:
  print("Expense not found.")

Enter your expense amount: 2500
Expense occurred in February

In [ ]:
# 4. The race counter

for km in range(1, 6):
    response = input(f"Completed {km} km. Are you tired? (yes/no): ").lower()
    if response == "yes":
        print("You didn't finish the race.")
        break
else:
    print("Congratulations! You finished the 5 km race!")

Completed 1 km. Are you tired? (yes/no): no
Completed 2 km. Are you tired? (yes/no): no
Completed 3 km. Are you tired? (yes/no): no
Completed 4 km. Are you tired? (yes/no): no
Completed 5 km. Are you tired? (yes/no): no
Congratulations! You finished the 5 km race!

In [ ]:
# 5. Write a program that prints following shape
'''
*
**
***
****
*****
'''


# Program to print triangle shape

for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

# **Task on List Set Dict Comprehensions**

1. Create a Dictionary which contains the Binary values mapping with numbers found in the below integer and binary and save it in binary_dict.

Example :
```
    integer = [0, 1, 2, 3, 4]
    binary = ["0", "1", "10", "11", "100"]
    binary_dict = {0:"0", 1:"1", 2:"10", 3: "11", 4:"100"}
```

2. Create a List which contains additive inverse of a given integer list.
An additive inverse `a` for an integer `i` is a number such that:
```
a + i = 0
```
Example:
```
integer = [1, -1, 2, 3, 5, 0, -7]
additive_inverse = [-1, 1, -2, -3, -5, 0, 7]
```

3. Create a set which only contains unique sqaures from a given a integer list.
```
integer = [1, -1, 2, -2, 3, -3]
sq_set = {1, 4, 9}
```

In [28]:
# 1.
integer = [0, 1, 2, 3, 4]
binary = ["0", "1", "10", "11", "100"]

binary_dict = {}

for i in range(len(integer)):
    binary_dict[integer[i]] = binary[i]

print("Binary Dictionary:", binary_dict)

Binary Dictionary: {0: '0', 1: '1', 2: '10', 3: '11', 4: '100'}

In [29]:
# 2.
integer = [1, -1, 2, 3, 5, 0, -7]

additive_inverse = []

for i in integer:
    additive_inverse.append(-i)

print("Additive Inverses list:", additive_inverse)

Additive Inverses list: [-1, 1, -2, -3, -5, 0, 7]

In [35]:
# 3.
integer = [1, -1, 2, -2, 3, -3]
square_set = set()

for i in integer:
    square = i * i
    square_set.add(square)

print("Unique Squares Set:", square_set)

Unique Squares Set: {1, 4, 9}

# **Task on Dict and Tuple**

 1. We have following information on countries and their population (population is in crores),

    |Country|Population|

    |-------|----------|
    
    |China|143|

    |India|136|
    
    |USA|32|
    
    |Pakistan|21|
    
    1. Using above create a dictionary of countries and its population
    2. Write a program that asks user for three type of inputs,
         1. print: if user enter print then it should print all countries with their population in this format,
            ```
            china==>143
            india==>136
            usa==>32
            pakistan==>21
            ```
        1. add: if user input add then it should further ask for a country name to add. If country already exist in our dataset then it should print that it exist and do nothing. If it doesn't then it asks for population and add that new country/population in our dictionary and print it
        2. remove: when user inputs remove it should ask for a country to remove. If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). Else print that country doesn't exist!
        3. query: on this again ask user for which country he or she wants to query. When user inputs that country it will print population of that country.

In [50]:
# 1.1 Dict of country and their population
country_population = {
    "china": 143,
    "india": 136,
    "usa": 32,
    "pakistan": 21
}

# 2. Print, Add
user_input= input("Enter your action : print / add / remove/ query  ")

if user_input.lower() == 'print':
  for c,p in country_population.items():
    print(f"{c} ==> {p}")

elif user_input.lower() == 'add':
  new_country = input("Input the country name")

  if new_country in country_population:
    print(f"The country {new_country} already exists")

  else:
    new_population = input(f"Input the population of {new_country}")
    country_population[new_country] = new_population
    for c, p in country_population.items():
      print("After removing the country:")
      print(f"{c} ==> {p}")

elif user_input.lower() == 'remove':
  country_to_remove = input("Input the country name which you want to remove  ")

  if country_to_remove in country_population:
    del country_population[country_to_remove]

    for c, p in country_population.items():
      print("After removing the country:")
      print(f"{c} ==> {p}")

  else:
    print(f"{country_to_remove} doesn't exist.")


elif user_input.lower() == 'query':
  country_to_query = input("Input the country name which you want to query  ")

  if country_to_query in country_population:
    print(f"Population of {country_to_query} is {country_population[country_to_query]}")

else:
    print("Invalid input!")

Enter your action : print / add / remove/ query  query
Input the country name which you want to querychina
Population of china is 143

In [ ]:
'''2. You are given following list of stocks and their prices in last 3 days,

    |Stock|Prices|
    |-------|----------|
    |info|[600,630,620]|
    |ril|[1430,1490,1567]|
    |mtl|[234,180,160]|

    1. Write a program that asks user for operation. Value of operations could be,
        1. print: When user enters print it should print following,
            ```
            info ==> [600, 630, 620] ==> avg:  616.67
            ril ==> [1430, 1490, 1567] ==> avg:  1495.67
            mtl ==> [234, 180, 160] ==> avg:  191.33
            ```
        2. add: When user enters 'add', it asks for stock ticker and price. If stock already exist in your list (like info, ril etc) then it will append the price to the list. Otherwise it will create new entry in your dictionary. For example entering 'tata' and 560 will add tata ==> [560] to the dictionary of stocks.

3. Write circle_calc() function that takes radius of a circle as an input from user and then it calculates and returns area, circumference and diameter. You should get these values in your main program by calling circle_calc function and then print them'''

# **Task on Functions**

1. Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
```
area = (1/2)*base*height
```

2. Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,
```
rectangle area=length*width
```
If no shape is supplied then it should take triangle as a default shape

In [53]:
# 1. Area of triangle
def calculate_area(base, height):
  area = (1/2)*base*height
  print("Area of the triangle: ",area)
  return are

# 2. Area of triangle and rectangle
def calculate_area_all(base, height, shape_type='triangle'):

  if(shape_type.lower() == "triangle")
    area = (1/2)*base*height
    print("Area of the triangle: ",area)
    return are

  elif(shape_type.lower() == "rectangle")
    area=base*height
    print("Area of the triangle: ",area)
    return area

tuple

3. Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3

In [ ]:
'''3. Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,
*
**
***
if input is 4 then it should print
*
**
***
****
Basically number of lines it prints is equal to that number. (Hint: you need to use two for loops)'''

In [55]:
def print_pattern(n):
    for i in range(1, n + 1):
        print("*" * i)

print_pattern(3)

*
**
***

In [56]:
print_pattern(5)

*
**
***
****
*****

_____________

Made by: Sarah Ali Mohamed.

Supervised by: Mindset