# Task on List:
 You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [1]:
heros = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']

# 1. Length of the list
print("Length of list:", len(heros))

# 2. Add 'black panther' at the end of this list
heros.append('black panther')
print("After appending black panther:", heros)

# 3. Move 'black panther' after 'hulk'
heros.remove('black panther')
heros.insert(heros.index('hulk') + 1, 'black panther')
print("After inserting black panther after hulk:", heros)

# 4. Replace thor and hulk with doctor strange
heros[heros.index('thor'):heros.index('hulk') + 1] = ['doctor strange']
print("After replacement:", heros)

# 5. Sort the list alphabetically
heros.sort()
print("Sorted list:", heros)

Length of list: 5
After appending black panther: ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
After inserting black panther after hulk: ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
After replacement: ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
Sorted list: ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

# Task on Variables:
1. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables
2. Store your first, middle and last name in three different variables and then print your full name using these variables
3. Answer which of these are invalid variable names:
   _nation
   1record
   record1
   record_one
   record-one
   record^one

In [3]:
birth_year = 2003
current_year = 2025
myAge = current_year - birth_year
print("My age is:", myAge)

# Full name
first = "Sarah"
middle = "Ali"
last = "Mohamed"
print("Full name:", first + " " + middle + " " + last)

# Valid: _nation, record1, record_one
# Invalid: 1record (starts with a number), record-one (- not allowed), record^one (^ not allowed)

My age is: 22
Full name: Sarah Ali Mohamed

# Task on Numbers:

1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total
area using python and print it.
2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar
and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?
3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet
is its length. If tiles cost 500 rs per square feet, how much will be the total
cost to replace all tiles. Calculate and print the cost using python
(Hint: Use power operator ** to find area of a square)

In [7]:
length = 92
width = 48.8
area = length * width
print("Area", area)

# Potato chips cost
packets = 9
cost_per_packet = 1.49
total_cost = packets * cost_per_packet
money = 20
returned_money = money - (total_cost)
print("Returned money: ", returned_money)

# Tile replacement cost
length = 5.5
tile_cost = 500
total_tile_cost = (length ** 2) * tile_cost
print("Cost to replace tiles: ", total_tile_cost)

Area 4489.599999999999
Returned money:  6.59
Cost to replace tiles:  15125.0

# Task on String:
1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [15]:
street = "Mehwar"
city = "Cairo"
country = "Egypt"

# Using +
address1 = street + "\n" + city + "\n" + country
print("Address using + operator: ", address1)

# Using f-string
address2 = f"{street}\n{city}\n{country}"
print("Address using f-string:\n", address2)

# Slice operator
sentence = "Earth revolves around the sun"
print("using slice:", sentence[6:14])
print("using negative index:", sentence[-3:])

# Fruits and veggies
x = 2 #Fruits
y = 3 #veggies
print(f"I eat {y} veggies and {x} fruits daily")

# Replace in one line
s = "maine 200 banana khaye"
s = s.replace("200", "10").replace("banana", "samosa")
print(s)

Address using + operator:  Mehwar
Cairo
Egypt
Address using f-string:
 Mehwar
Cairo
Egypt
using slice: revolves
using negative index: sun
I eat 3 veggies and 2 fruits daily
maine 10 samosa khaye

_____________